@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: #aaa transparent;
  scrollbar-width: thin;
}

/* Main Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(24, 24, 24, 0.8);
}

::-webkit-scrollbar-thumb {
  background: rgb(116, 116, 116);
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(173, 173, 173);
}